# Environment
NODE_ENV=development

# Server
PORT=3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/earth-pulse

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# API Keys
AQICN_API_TOKEN=
OPENWEATHER_API_KEY=

# Cache TTL (in seconds)
CACHE_TTL=3600

# Cron Schedule
COLLECTOR_CRON_SCHEDULE=0 * * * *
